p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
}
td {
    border: 1px solid;
}
body {
	font-family: "Gill Sans", "Century Gothic", Helvetica, sans-serif;
}